<div class="container">
    <form>
        <div class="p-grid">
            <div class="p-col-12">
                <h1>Nova Pessoa</h1>
            </div>
            <div class="p-col-12">
                <label class="display-block">Nome</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12 p-col-md-12 p-lg-9">
                <label class="display-block">Logradouro</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12 p-col-md-12 p-lg-3">
                <label class="display-block">Numero</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12 p-col-md-4 p-lg-4">
                <label class="display-block">Complemento</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12  p-col-md-4 p-lg-4">
                <label class="display-block">Bairro</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12  p-col-md-4 p-lg-4">
                <label class="display-block">CEP</label>
                <p-inputMask mask="99.999-999"></p-inputMask>
            </div>
            <div class="p-col-12 p-col-md-6 p-lg-6">
                <label class="display-block">Cidade</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12 p-col-md-6 p-lg-6">
                <label class="display-block">Estado</label>
                <input pInputText type="text">
            </div>
            <div class="p-col-12">
                <button style="margin-right: 5px;" type="submit" label="Salvar" pButton></button>
                <button class="p-button-info" type="submit" label="Novo" pButton></button>
                <a href="#" class="posicao">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>